body{
    background-image: url('paperBG.jpg'); /*Royalty-free image from pixaby*/
}

.globalContainer{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer{
    padding: 10px;
}

.dialogContainer{
    padding: 10px;
}